/target
stackql
/.stackql
stackql*.sh
stackql*.zip
stackql*.pkg
stackql_history.txt
stackql.log
stackql_server.log
stackql-core/
stackql-any-sdk/
stackql-stackql-provider-registry/
.env
nohup.out
ssl-test/
stackql-zip
cargo_login.sh